# Add any directories, files, or patterns you don't want to be tracked by version control
/*
!/README.md
!/.gitignore
!/*.ioc
!/*.mxproject
!/src
!/inc
!/Drivers
!/MDK-ARM
!/Middlewares

/MDK-ARM/*
!/MDK-ARM/*.uvoptx
!/MDK-ARM/*.txt
!/MDK-ARM/*.ini
!/MDK-ARM/*.lst
!/MDK-ARM/*.s
!/MDK-ARM/DebugConfig
!/MDK-ARM/RTE
